# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL
4. Java
5. C++

Some of the commonly used libraries used by Data Scientists include
1. Tensorflow
2. Keras
3. NumPy
4. PyTorch

|Data Science Tools|
|---|
|Microsoft Power BI|
|SAS|
|Tensorflow|

### Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [3]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

__Objective__
* List popular languages for data science
* List popular libraries for data science
* List of Data science tools
* Add arithmetic to cells

## Author
James Andrei C. Nadela